@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.newReact {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system,
      BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  .errorMessage {
    background-color: red;
  }
  .cardHeader h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    color: #002b55;
  }
  .urlLinks {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  .urlLinks td,
  .urlLinks th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .urlLinks tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .urlLinks tr:hover {
    background-color: #ddd;
  }

  .urlLinks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;
    color: white;
  }
  .uccButton {
    background: #70a286;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    margin: 5px;
  }
  .mediumSize {
    font-size: 24px;
    margin-right: 10px;
  }
  .action {
    width: auto;
    text-align: right;
    white-space: nowrap;
  }
  .content {
    max-width: 400px;
    word-wrap: break-word;
  }
}
